body, html {
	padding: 0px;
	margin: 0px;
	font-family: 'Raleway', sans-serif;	
}

.navbar {
	background-color: black;
}

.page-header {
	text-align: left;
}

.page-header h1{
	color: red;
}

#logo {
	margin-top: -10px;
	width: 100px;
}

.bio {
	font-size: 21px;
}

.row-margin h4{
	color: red;
}

.row-margin h1{
	font-size: 36px;
	color: red;
}

.row-margin p{
	font-size: 21px;
}

.row-margin b{
	color: #333;
	font-size: 15px;
}

.row-margin .education h4{
	color: #333;
}

.row-margin .skills ul li{
	margin-bottom: 5px;
    font-size: 1.1em;
    margin-top: 15px;
}