html, body {
	padding: 0px;
	margin: 0px;
}

.clr {
	clear: both;
}

.container {
	width: 1170px;
	height: 1858px;
	margin: 0 auto;
}

/* Footer */
.navcontainer {
	width: 1600px;
	height: 50px;
	background-color: black;
}

.navotherbuttons.buttons {
	float: left;
	margin: 0px;
	display: inline;
	box-sizing: border-box;
}

/* Top Third */

#top_third {
	width: 100%;
	height: 30%;
}

#top_third #left_side {
	width: 30%;
	height: 30%;
	float: left;
}

#top_third #left_side #left img {
	padding-top: 50px;
	width: 90%;
	border-radius: 50%;
}

#top_third #right_side {
	width: 70%;
	height: 50%;
	float: right;
}

#top_third #right_side h1 {
font-size: 36px;
}

#top_third #right_side h2 {
font-size: 36px;	
}

#top_third .university p {
	margin: 0 0 10px;
}

#top_third .bio p {
	font-size: 21px;
}

/*Middle Third*/

#middle_third {
	width: 100%;
	height: 30%;
	box-sizing: border-box;
}

#middle_third #left_side {
	width: 30%;
	height: 30%;
	float: left;
	box-sizing: border-box;
}

#middle_third #skills {
	margin-bottom: 30px;
	box-sizing: border-box;
}

#middle_third #skills h3 {
	font-size: 24px;
	box-sizing: border-box;
}

#middle_third #skills ul {
	padding: 0px;
	margin-top: 30px;
	box-sizing: border-box;
}

#middle_third #skills ul li{
	margin-top: 5px;
	font-size: 1.1em;
	margin-bottom: 10px;
	box-sizing: border-box;
}

#middle_third #employment #company h5 {
	font-size: 14px;
	box-sizing: border-box;
}

#middle_third #employment #company h5 {
	font-size: 85%;
	box-sizing: border-box;
}

#middle_third #right_side {
	width: 70%;
	height: 50%;
	float: right;
	box-sizing: border-box;
}

#middle_third #right_side #right h3 {
	font-size: 24px;
}
#middle_third #right_side #right h4 {
	margin-top: : 30px;
	font-size: 14px;
	color: red;
}

#middle_third #right_side #right p {
	margin: 0 0 10px;
}

/*Bottom Third */

#bottom_third {
	width: 100%;
	height: 30%;
}

#bottom_third #left_side {
	width: 30%;
	height: 30%;
	float: left;
	box-sizing: border-box;
}

#bottom_third #right_side {
	width: 70%;
	height: 50%;
	float: right;
	box-sizing: border-box;
}

#bottom_third #right_side #right h3 {
	font-size: 24px;
}
#bottom_third #right_side #right h4 {
	margin-top: : 30px;
	font-size: 14px;
	color: red;
}

#bottom_third #right_side #right p {
	margin: 0 0 10px;
}

#bottom_third #right_side #right h5 {
	font-size: 14px;
}

#bottom_third #right_side #right ul {
	margin-top: 0px;
	margin-bottom: 10px;
}

@media screen and (max-width: 960px) {

	.container {
		width: auto;
		float: none;
	}

	.container #top_third {
		height: auto;
		width: auto;
		float: none;
	}

	.container #top_third img{
		height: auto;
		width: auto;
		float: none;
	}

	.container #top_third #right_side {
		height: auto;
		width: auto;
		float: none;
	}

	.container #top_third #left_side #left {
		padding-left: 5px;
		height: auto;
		width: auto;
		float: none;
	}

	.container #middle_third {
		height: auto;
		width: auto;
		float: none;
	}

	.container #middle_third #right_side {
		height: auto;
		width: auto;
		float: none;
	}

	.container #middle_third #left_side {
		height: auto;
		width: auto;
		float: none;
	}

	.container #bottom_third {
		height: auto;
		width: auto;
		float: none;
	}

	.container #bottom_third #right_side {
		height: auto;
		width: auto;
		float: none;
	}

	.container #bottom_third #left_side {
		height: auto;
		width: auto;
		float: none;
	}

}
